@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-pixel: "VT323", monospace;
}

body {
  font-family: var(--font-sans);
}

.font-pixel {
  font-family: var(--font-pixel);
}
